<h1> Tidy Data </h1>

<p>    The principle importance of Tidy data is vast and here we will focus on some important aspects of Tidy data. Below aare two representations of the same data. Which one looks insightful?
</p><h4> TABLE 1 </h4><br>

| Name | Age   | Gender  | Experience A | Experience B |
|---|---|---|----|---|
| Dan  |  24   |  Male   |       2      |      3       |
| Mike |   -   |  Male   |       -      |      4       |
| Gina |  20   |  Female |       1      |      5       |

<br><h4>TABLE 2</h4><br>


|    NULL      |   0     |    1    |    2    |
|---|---|----|---|
|    Name      |  Dan    |  Mike   |  Gina   |
|    Age       |   24    |   -     |   20    |
|   Gender     |  Male   |  Male   |  Female |
| Experience A |   2     |   -     |   1     |
| Experience B |   3     |   4     |   5     |

<p>
The pavlonian answer is that the first one is. And, it can be meaningful to get insightful results. So, the main attributes of Tidy data are as follows:
    
- Columns represent seperate variables
- Rows represent induvidual observations
- Observational units form Tables
</p>

So, converting the table 1 to a tidy form we get the following:
<br><h4> TIDY TABLE 1 </h4><br>

| Name | Age   | Gender  | Experience | Value |
|------|-------|---------|------------|-------|
| Dan  |  24   |  Male   |     A      |   2   |
| Dan  |  24   |  Male   |     B      |   3   |
| Mike |   -   |  Male   |     A      |   -   |
| Mike |   -   |  Male   |     B      |   4   |
| Gina |  20   |  Female |     A      |   1   |
| Gina |  20   |  Female |     B      |   5   |

Tidy data is <em> better for Reporting </em>. Fixes common data problems

## Converting to Tidy data
### Use pd.melt()

<p>Melting data is the process of turning columns of your data into rows of data. Consider the DataFrames from the previous exercise. In the tidy DataFrame, the variables <code>Ozone</code>, <code>Solar.R</code>, <code>Wind</code>, and <code>Temp</code> each had their own column.
If, however, you wanted these variables to be in rows instead, you could melt the DataFrame. In doing so, however, you would make the data untidy! This is important to keep in mind: Depending on how your data is represented, you will have to reshape it
differently (e.g., this could make it easier to plot values).</p>
<p>In this exercise, you will practice melting a DataFrame using <code>pd.melt()</code>. There are two parameters you should be aware of: <code>id_vars</code> and <code>value_vars</code>.
The <code>id_vars</code> represent the columns of the data you <strong>do not</strong> want to melt (i.e., keep it in its current shape), while the <code>value_vars</code> represent the columns you <strong>do</strong> wish to melt into rows.  By default, if no <code>value_vars</code> are provided, all columns not set in the <code>id_vars</code> will be melted. This could save a bit of typing, depending on the number of columns that need to be melted.</p>

### Using .pivot_table()

<p>Pivoting data is the opposite of melting it. Remember the tidy form that the <code>airquality</code> DataFrame was in before you melted it? You&apos;ll now begin pivoting it back into that form using the <code>.pivot_table()</code> method!</p>
<p>While melting takes a set of columns and turns it into a single column, pivoting will create a new column for each unique value in a specified column.</p>
<p><code>.pivot_table()</code> has an <code>index</code> parameter which you can use to specify the columns that you <em>don&apos;t</em> want pivoted: It is similar to the <code>id_vars</code> parameter of <code>pd.melt()</code>. Two other parameters that you have to specify are <code>columns</code> (the name of the column you want to pivot), and <code>values</code> (the values to be used when the column is pivoted).

In [1]:
import pandas as pd

# Reading the tb data
tb = pd.read_csv('tb.csv')

In [2]:
# Melt tb: tb_melt
tb_melt = pd.melt(frame=tb, id_vars=['country', 'year'])

# Create the 'gender' column
tb_melt['gender'] = tb_melt.variable.str[0]

# Create the 'age_group' column
tb_melt['age_group'] = tb_melt.variable.str[1:]

# Print the head of tb_melt
print(tb_melt.head())

  country  year variable  value gender age_group
0      AD  2000     m014    0.0      m       014
1      AE  2000     m014    2.0      m       014
2      AF  2000     m014   52.0      m       014
3      AG  2000     m014    0.0      m       014
4      AL  2000     m014    2.0      m       014

<p>We have tidied the <code>'m014'</code> column, which represents males aged 0-14 years of age. In order to parse this value, you need to extract the first letter into a new column for gender, and the rest into a column for age_group. Here, since you can parse values by position, you can take advantage of pandas' vectorized string slicing by using the str attribute of columns of type object.</p>

### Analysing the Ebola Dataset

Another common way multiple variables are stored in columns is with a delimiter. Consider the dataset containing the [Ebola cases and death counts by state and country](https://data.humdata.org/dataset/ebola-cases-2014).<br>

In [3]:
# Loading the dataset
ebola = pd.read_csv('ebola.csv')

# Printing the columns of Ebola
ebola.columns

Index(['Date', 'Day', 'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone',
       'Cases_Nigeria', 'Cases_Senegal', 'Cases_UnitedStates', 'Cases_Spain',
       'Cases_Mali', 'Deaths_Guinea', 'Deaths_Liberia', 'Deaths_SierraLeone',
       'Deaths_Nigeria', 'Deaths_Senegal', 'Deaths_UnitedStates',
       'Deaths_Spain', 'Deaths_Mali'],
      dtype='object')

#### Observation

We see that <code>Cases_Guinea</code> and <code>Deaths_Guinea</code>. Here, the underscore _ serves as a delimiter between the first part (cases or deaths), and the second part (country). We can use the <code>.split()</code> method to split the string in columns. For example, using <code>Cases.Guinea.split('_')</code> will return a list <code>['Cases','Guinea']</code>

In [8]:
# Splitting a column with .split() and .get()
# Melt ebola: ebola_melt
ebola_melt = pd.melt(ebola, id_vars=['Date', 'Day'], var_name='type_country', value_name='counts')

# Create the 'str_split' column
ebola_melt['str_split'] = ebola_melt.type_country.str.split('_')

# Create the 'type' column
ebola_melt['type'] = ebola_melt.str_split.str.get(0)

# Create the 'country' column
ebola_melt['country'] = ebola_melt.str_split.str.get(1)

# Print the head of ebola_melt
print(ebola_melt.head())

         Date  Day  type_country  counts        str_split   type country
0    1/5/2015  289  Cases_Guinea  2776.0  [Cases, Guinea]  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  [Cases, Guinea]  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  [Cases, Guinea]  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  [Cases, Guinea]  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  [Cases, Guinea]  Cases  Guinea

### Combining Data
<p>
Data may not always come in 1 file. For example, a 5 million row datase may be broken into 5 seperate datasets which is easier to store and share. This is maily because new data may be added each data. This brings the necessity of combining the data.</p>

Consider the following dataset:

In [9]:
# Reading the uber datasets for 3 different periods
uber1 = pd.read_csv('uber1.csv')
uber2 = pd.read_csv('uber2.csv')
uber3 = pd.read_csv('uber3.csv')

# Concatenate uber1, uber2, and uber3: row_concat
row_concat = pd.concat([uber1,uber2,uber3])

# Print the shape of row_concat
print(row_concat.shape)

# Print the head of row_concat
print(row_concat.head())

(297, 4)
          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

### Combining 1k files?
What to do when there are many files: Use <code>glob()</code> function.

#### Globbing
This involves pattern matching file names using wildcards like *
So any csv file can be read as <code>*.csv</code> and any single character file as <code>_?.csv</code>. This returns a <b> list of file names</b>. We can then use this list to load into seperate dataframes.

__PLAN:__
- Load files from globbing into pandaas
- Add the Datafranes into a list
- Concatenate multiple datasets at once

In [11]:
# Import necessary modules
import pandas as pd
import glob

# Write the pattern: pattern
pattern = '*.csv'

# Save all file matches: csv_files
csv_files = glob.glob(pattern)

# Print the file names
print(csv_files)

# Load the second file into a DataFrame: csv3
csv3 = pd.read_csv(csv_files[2])

# Print the head of csv2
print(csv3.head())

['dob_job_application_filings_subset.csv', 'ebola.csv', 'tb.csv', 'uber1.csv', 'uber2.csv', 'uber3.csv', 'winequality-red.csv', 'winequality-white.csv']
  country  year  m014  m1524  m2534  m3544  m4554  m5564   m65  mu  f014  \
0      AD  2000   0.0    0.0    1.0    0.0    0.0    0.0   0.0 NaN   NaN
1      AE  2000   2.0    4.0    4.0    6.0    5.0   12.0  10.0 NaN   3.0
2      AF  2000  52.0  228.0  183.0  149.0  129.0   94.0  80.0 NaN  93.0
3      AG  2000   0.0    0.0    0.0    0.0    0.0    0.0   1.0 NaN   1.0
4      AL  2000   2.0   19.0   21.0   14.0   24.0   19.0  16.0 NaN   3.0

   f1524  f2534  f3544  f4554  f5564   f65  fu
0    NaN    NaN    NaN    NaN    NaN   NaN NaN
1   16.0    1.0    3.0    0.0    0.0   4.0 NaN
2  414.0  565.0  339.0  205.0   99.0  36.0 NaN
3    1.0    1.0    0.0    0.0    0.0   0.0 NaN
4   11.0   10.0    8.0    8.0    5.0  11.0 NaN

In [12]:
# Implementing the concat function
# Create an empty list: frames
frames = []

#  Iterate over csv_files
for csv in csv_files:

    #  Read csv into a DataFrame: df
    df = pd.read_csv(csv)
    
    # Append df to frames
    frames.append(df)

# Concatenate frames into a single DataFrame: uber
uber = pd.concat(frames)

# Print the shape of uber
print(uber.shape)

# Print the head of uber
print(uber.head())

(19963, 123)
  Adult Estab Applicant License # Applicant Professional Title  \
0         NaN             0058375                           PE
1         NaN             0025259                           RA
2         NaN             0084178                           PE
3         NaN             0078226                           PE
4         NaN             0086781                           PE

  Applicant's First Name           Applicant's Last Name    Approved Assigned  \
0        DOUGLAS          MASS                                   NaN      NaN
1        STEVEN           SAVINO                                 NaN      NaN
2        ASHRAF           ALI                             04/25/2013      NaN
3        J. BUTCH         MACUTAY JR.                            NaN      NaN
4        JUNHUI           JIA                                    NaN      NaN

  Base      Bin #   Block  ...  fu m014 m1524  m2534  m3544  m4554  m5564  \
0  NaN  1016890.0   857.0  ... NaN  NaN   NaN    NaN    NaN    NaN    NaN
1  NaN  5161350.0   342.0  ... NaN  NaN   NaN    NaN    NaN    NaN    NaN
2  NaN  1053831.0  1729.0  ... NaN  NaN   NaN    NaN    NaN    NaN    NaN
3  NaN  1015610.0   826.0  ... NaN  NaN   NaN    NaN    NaN    NaN    NaN
4  NaN  1015754.0   831.0  ... NaN  NaN   NaN    NaN    NaN    NaN    NaN

   m65  mu  year
0  NaN NaN   NaN
1  NaN NaN   NaN
2  NaN NaN   NaN
3  NaN NaN   NaN
4  NaN NaN   NaN

[5 rows x 123 columns]

C:\Users\Public\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Public\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  from ipykernel import kernelapp as app